.card-no-hover:hover {
  transform: none;
  box-shadow: 15px 28px 25px -18px rgba(0, 0, 0, 0.2);
}

i::before {
  margin: 0 !important;
}

.flip-horizontal {
  transform: scale(-1, 1);
}

a {
  color: #41403e;
  background: none;
  text-decoration: underline dashed;
}

[popover-bottom]:hover::after,
[popover-left]:hover::after,
[popover-right]:hover::after,
[popover-top]:hover::after {
  opacity: 1;
  transition: opacity 0.2s linear 0.3s;
}

nav {
  z-index: initial;
}

/* Make the footer go to the bottom of the window */

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}
